.about {
    padding: 2rem;
    max-width: 1280px;
    margin: 0 auto;
}

.about h2 {
    text-transform: uppercase;
    font-weight: 100;
    font-size: 3rem;
    letter-spacing: 2px;
}

h2 span {
    color: rgb( var(--clr-primary) );
    font-weight: 600;
}

.text-container {
    margin: 2rem auto;
    max-width: 800px;
    padding: 1rem 2rem;
    border-radius: .7rem;

    letter-spacing: 1px;
    line-height: 2rem;
    font-weight: 300;
    
    outline: solid 1px rgb( var(--clr-light), .1);
}

.about h3 {
    position: relative;
    margin: 0;
    padding: 5rem 0 1rem;
    text-align: center;
    text-transform: uppercase;
    font-size: 3rem;

    color:rgb( var(--clr-primary) );
}

.staff-container a {
    color: rgb( var(--clr-white) );
    font-weight: 300;
}

.staff-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 800px;
    margin: 0 auto;
}

.staff {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 10rem;
    padding: 1rem;
    border-radius: 1rem;

    text-align: center;
    
    outline: solid 1px rgb( var(--clr-secondary), 0 );

    transition: .5s;
}

.staff .role {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 01rem;
    font-size: .8rem;
    letter-spacing: 1px;
}

.staff .role img {
    margin-right: .3rem;
}

.staff .profile-pic {
    max-width: 6rem;
    border-radius: 1rem;
    
    outline: solid 1px rgb( var(--clr-secondary), 0 );

    transition: .3s;
}

.staff .name p { margin: 0; }
.staff .name {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 500;
    margin: 1.5rem 0 1rem 0;
    transition: .4s;
}

.staff:hover .name { color:rgb( var(--clr-secondary) ) }

.staff:hover {
    background:rgb( var(--clr-black) );
    outline: solid 1px rgb( var(--clr-secondary) );
    transform: translateY(-15px);
    box-shadow: 0 10px 10px rgb( var(--clr-black), .6 );
}

.staff:hover .profile-pic {
    outline: solid 1px rgb( var(--clr-secondary), 1 );
}

.description.ikasona {
    padding: 1rem 2rem;
    font-size: 2rem;
}