.about {
    padding: 2rem;
    max-width: 1280px;
    margin: 0 auto;
}

.text-container {
    margin: 2rem auto;
    max-width: 800px;
    padding: 1rem 2rem;
    border-radius: .7rem;

    letter-spacing: 1px;
    line-height: 2rem;
    font-weight: 300;
    
    outline: solid 1px rgb( var(--clr-light), .1);
}

.text-container a {
    color: rgb( var(--clr-primary) );
    transition: .3s;

    font-weight: 600;
}

.text-container a:hover {
    color: rgb( var(--clr-secondary) );
    transform: translateY(-3px);
}

.staff-container a {
    color: rgb( var(--clr-white) );
    font-weight: 300;
}

.staff-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;
    flex-wrap: wrap;
    max-width: 800px;
    margin: 0 auto;
}

.staff {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 10rem;
    padding: 1rem;
    border-radius: 1rem;

    text-align: center;
    
    outline: solid 1px rgb( var(--clr-secondary), 0 );

    transition: .5s;
}

.staff .role {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 01rem;
    font-size: .8rem;
    letter-spacing: 1px;
}

.staff .role img {
    margin-right: .3rem;
    width: 20px; height: 20px;
}

.staff .profile-pic {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    max-width: 6rem;
    border-radius: 1rem;
    overflow: hidden;
    
    outline: solid 1px rgb( var(--clr-secondary), 0 );

    transition: .3s;
}

.staff .profile-pic::after {
    content: '';
    position: absolute;
    bottom: 12px;
    right: 11px;
    width: 15px;
    height: 15px;
    opacity: 0;

    background-image: url('../img/system/favicon/0_raw.svg');
    background-size: cover;

    transition: .3s;
    
}

.staff .profile-pic::before {
    content: '';
    position: absolute;
    bottom: 8px;
    right: 8px;
    width: 20px;
    height: 20px;
    opacity: 0;
    border-radius: 50%;

    outline: solid 5px rgb( var(--clr-black), .8 );
    background-color: rgb( var(--clr-black), .8 );
    background-size: cover;

    transition: .3s;
    
}

.staff .name p { margin: 0; }
.staff .name {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 500;
    margin: 1.5rem 0 1rem 0;
    transition: .4s;
}

.staff:hover .name { color:rgb( var(--clr-secondary) ) }

.staff:hover {
    background:rgb( var(--clr-black) );
    outline: solid 1px rgb( var(--clr-secondary) );
    transform: translateY(-15px);
    box-shadow: 0 10px 10px rgb( var(--clr-black), .6 );
}

.staff:hover .profile-pic {
    outline: solid 1px rgb( var(--clr-secondary), 1 );
}

.staff:hover .profile-pic::after, .staff:hover .profile-pic::before {
    opacity: 1;
}

.description-ikasona {
    position: absolute;
    bottom: 1rem; right: 1rem;
    padding: 1rem 3rem;
    border-radius: 999rem;
    opacity: 0;

    font-size: 2rem;
    letter-spacing: 1px;
    background-color: rgb( var(--clr-dark), .8 );
    
    transition: .4s;
}
.post-img:hover .description-ikasona {
    opacity: 1;

}


/* ================================ */
/* POST =========================== */
/* ================================ */


.post-img {
    position: relative;
    max-width: 1280px;
    height: 50vh;
    overflow: hidden;
    border-radius: 1rem;
    outline: solid 1px rgb( var(--clr-secondary), 0 );
    background-position: center;
    background-size: cover;
    transition: .4s;
}

.post-img.ikasona { background-image: url('../img/system/ikasona.png'); }
.post-img.intro { background-image: url('../img/screenshots/fotos/2020/casamento/01.jpg'); }

.post-img .description {
    position: absolute;
    bottom: 1rem; right: 1rem;
    padding: .3rem .8rem;
    border-radius: 999rem;
    opacity: 0;

    letter-spacing: 1px;
    background-color: rgb( var(--clr-dark), .8 );
    
    transition: .4s;
}

.post-img:hover {
    box-shadow: 0 0 1rem rgb( var(--clr-white), .3 );
    outline: solid 1px rgb( var(--clr-white), .5 );
}

.post-img:hover .description {
    opacity: 1;
}

@media (max-width: 800px) {
    .about {
        max-width: 100vw;
        padding: 0;
    }

    .post-img img {
        border-radius: 0;
    }
    .post-img .description {
        opacity: 1;
    }
    .about h2 {
        text-align: center;
    }
    .text-container {
        max-width: 80vw;
    }
    .description.ikasona {
        font-size: 1rem;
    }
}

@media (max-width: 650px) {
    .staff-container {
        max-width: 100vw;
    }
    .staff {
        flex-direction: row;
        width: 80vw;
        align-items: center;
        justify-content: flex-start;
        gap: 1rem;

        padding: 1rem;
        border-radius: 1rem;
    
        text-align: start;
    
        border-bottom: solid 1px rgb( var(--clr-light), .1);
    
        transition: .5s;
    }
    .staff .profile-pic, .staff .profile-pic img {
        max-width: 3rem;
        max-height: 3rem;
    }
    .staff .name {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
    }
    .staff .role {
        width: 100px;
        justify-content: flex-start;
        padding: 0;
    }
}