.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem 0 5rem;
}

.footer p {
    opacity: .3;
}

.footer .buttons {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 1.5rem;
    padding: 2rem 0;
    width: 20rem;
}

.footer .buttons .button {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 999rem;
    padding: .5rem 1.5rem;
    opacity: .3;
    height: 2rem;

    outline: solid 1px rgb( var(--clr-white) );

    transition: .3s;
}

.footer .buttons .button:hover { opacity: 1; background-color: rgb( var(--clr-black) ); box-shadow: 0 6px 3px rgb( var(--clr-black), .6 ); }
.footer .buttons .button:hover.discord  { color: #5869EA; outline: solid 1px #5869EA; }
.footer .buttons .button:hover.lodestone  { color: rgb( var(--clr-primary) ); outline: solid 1px rgb( var(--clr-primary) ); }
.footer a {
    color: inherit;
    font-weight: 300;
}

.footer .buttons .button img {
    max-width: 28px;
    margin-right: 1rem;
    filter: grayscale(1);
    transition: .3s;
}

.footer .buttons .button:hover img {
    filter: grayscale(0);
}