.galleries {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    flex-wrap: wrap;
}

.gallery {
    position: relative;
    width: 30%;
    border-radius: 1rem;
    overflow: hidden;
    transition: .4s;

    outline: solid 1px rgb( var(--clr-secondary), 0); 
}

.cover-blur a {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    bottom: 0; left: 0; right: 0;
    margin: 0 auto;

    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: clamp(1rem, 3vw, 2rem);
    font-weight: 200;

    background-color: rgb( var(--clr-black), .5 );
    backdrop-filter: blur(5px);

    transition: .4s;
}

.cover-blur a {
    color: rgb( var(--clr-white) );
    font-weight: 200;
}

.cover-blur a:hover {
    transform: translateY(0);
}

.cover {
    width: 100%;
    height: 13rem;

    background-size: cover;
}

.cover.eventos { background-image: url('../img/screenshots/fotos/cover/cover 02.jpg'); }
.cover.trials { background-image: url('../img/screenshots/fotos/cover/cover 01.jpg'); }
.cover.raids { background-image: url('../img/screenshots/fotos/cover/cover 03.jpg'); }
.cover.roleplay { background-image: url('../img/screenshots/fotos/cover/cover 04.jpg'); }
.cover.housing { background-image: url('../img/screenshots/fotos/cover/cover 05.jpg'); }
.cover.glamour { background-image: url('../img/screenshots/fotos/cover/cover 06.jpg'); }

.gallery:hover {
    outline: solid 1px rgb( var(--clr-secondary)); 
    transform: translateY(-5px);
}

.gallery:hover .cover-blur a {
    width: 50%;
    height: 20%;
    padding: 1rem 1.5rem;
    bottom: 1rem; left: 0; right: 0;
    border-radius: 1rem;
    transition: .4s;
    outline: solid 1px rgb( var(--clr-secondary), 0); 
}

.gallery:hover .cover-blur a:hover{
    color: rgb( var(--clr-secondary));
    outline: solid 1px rgb( var(--clr-secondary)); 
}

/* featured */


.featured-container {
    position: relative;
    display: flex;
    height: 500px;
    margin-bottom: 5rem;
}

.featured {
    min-width: 70%;
    height: 100%;
    position: relative;
    display: flex;
    border-radius: 1rem;
    overflow: hidden;
    margin: 0 1rem 0 0;
    cursor: pointer;

    outline: solid 1px rgb( var(--clr-black), .5 );
    background-image: url('../img/screenshots/fotos/2022/eventos/makeitrika-tacca.png');
    background-position: center;
    background-size: cover;
    box-shadow: 0 0 0 rgb( var(--clr-black), .5 );

    transition: .3s;
}

.featured::after {
    content: '';
    width: 100%;
    height: 50%;
    position: absolute;
    left: 0; bottom: 0;
    z-index: 0;

    background: rgb(14,14,16);
    background: linear-gradient(180deg, rgba(14,14,16,0) 0%, rgba(14,14,16,0.4) 50%, rgba(14,14,16,.8) 100%);
}

.featured:hover {
    transform:translateY(-10px);

    outline: solid 1px rgb( var(--clr-secondary) );
    color: rgb( var(--clr-secondary) );
    box-shadow: 0 10px 10px rgb( var(--clr-black), .2 );
}

.feat-tag {
    position: absolute;
    bottom: 2rem;
    left: 2rem;
    z-index: 1;

    text-transform: uppercase;
    letter-spacing: 2px;
    color: rgb( var(--clr-white) );
    
    transition: .3s;
}

.feat-tag h5 {
    font-size: 2rem;
    margin: 0;
}

.feat-tag h5, .feat-tag p { transition: .3s; }

.featured:hover .feat-tag h5, .featured:hover .feat-tag p {
    color: rgb( var(--clr-secondary) );
}

.feat-side {
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    height: 100%;
    width: 24%;

    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 1rem;
    color: rgb( var(--clr-white), .5 );
}

.feat-side::after {
    position: absolute;
    left: 0; right: 0;
    margin: 0 auto;
}

.feat-1, .feat-2, .feat-3, .feat-4 {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 100px;
    width: 100%;
    border-radius: 1rem;
    overflow: hidden;
    cursor: pointer;

    text-transform: uppercase;
    letter-spacing: 2px;
    color: rgb( var(--clr-white), .5 );

    outline: solid 1px rgb( var(--clr-black), .5 );
    background-position: center;
    background-size: cover;

    transition: .3s;
}

.feat-side p {
    z-index: 1;
}

.feat-1::after, .feat-2::after, .feat-3::after, .feat-4::after {
    content: '';
    position: absolute;
    display: flex; align-items: center; justify-content: center;
    width: 100%;
    height: 100%;

    background-color: rgb( var(--clr-black), .5 );
    backdrop-filter: blur(3px);
    transition: .3s ;
}

.feat-1:hover, .feat-2:hover, .feat-3:hover, .feat-4:hover {
    letter-spacing: .3rem;
    color: rgb( var(--clr-secondary), 1 );

    outline: solid 1px rgb( var(--clr-secondary) );

    transform:translateY(-10px);
    box-shadow: 0 10px 10px rgb( var(--clr-black), .2 );
    text-shadow: 0 2px 2px rgb( var(--clr-black), 1 );
}

.feat-1:hover::after,
.feat-2:hover::after,
.feat-3:hover::after,
.feat-4:hover::after {
    background-color: rgb( var(--clr-black), .2 );
    backdrop-filter: blur(1px);
}

.feat-1 { position: relative; background-image: url('../img\screenshots\fotos\2020\achievements\torrekugane-kenji.png'); }
.feat-2 { position: relative; background-image: url('../img/screenshots/fotos/2020/raid/bahamut01.png'); }
.feat-3 { position: relative; background-image: url('../img/screenshots/fotos/2020/raid/bahamut01.png'); }
.feat-4 { position: relative; background-image: url('../img/screenshots/fotos/2020/raid/bahamut01.png'); }


/* fotos */
.achievements-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    
    gap: 1rem;
    padding: 2rem;
}


.foto {
    position: relative;
    display: flex;
    overflow: hidden;
    cursor: pointer;

    border-radius: 1rem;
    flex-grow: 1;
    transition: .5s;

    height: 200px;
    max-width: 1280px;

    
    outline: var(--outline);
}

.foto:hover,
.foto:active  {
    outline: solid 1px rgb( var(--clr-secondary) );
    transform: translateY(-10px);
    box-shadow: 0 8px 10px rgb( var(--clr-black), .4 );
}

.foto img {
    width: 100%;
    object-fit: cover;
    transition: 3s;
    border-radius: 1rem;
    outline: solid 1px rgb( var(--clr-white), .2 );
}

.foto .send-by,
.foto .description,
.foto .date {
    opacity: 0;
    position: absolute;
    padding: .5rem 1rem;
    border-radius: 1rem;
    user-select: none;

    background-color: rgb( var(--clr-black), .5 );

    transition: .3s;
}

.foto .send-by:hover,
.foto .description:hover,
.foto .date:hover {
    background-color: rgb( var(--clr-black), .9 );
}

.foto .send-by { top: 1rem; left: 1rem; transition: .5s; }
.foto .description { bottom: 1rem; left: 1rem; transition: .5s; }
.foto .date { top: 1rem; right: 1rem; transition: .5s; }

.foto .send-by a {
    color:rgb( var(--clr-primary) );
    padding-left: 5px;
    font-weight: 600;
    transition: .3s;
}

.foto .send-by a:hover {
    color:rgb( var(--clr-secondary) );
    transform: translateY(-4px);
}

.foto:hover .date,
.foto:hover .description,
.foto:hover .send-by {
    opacity: 1;
}

.pop-up-img {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;

    top: 0; left: 0;
    height: 100%;
    width: 100%;
    z-index: 100;
}

.pop-up-img img {
    max-width: 85vw;
    max-height: 85vh;
    margin-bottom: 2rem;
}

.pop-up-img .info-img {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 1rem;
    gap: 2rem;

    width: 85vw;
}

.close-pop-up {
    position: absolute;
    top: 1rem; right: 1.5rem;
    text-shadow: 0 5px 5px rgb( var(--clr-black), .2 );

    font-size: 2rem;
    
    cursor: pointer;
}

.pop-up-img a {
    color:rgb( var(--clr-primary) );
    padding-left: 5px;
    font-weight: 600;
    transition: .3s;
}

.pop-up-img a:hover {
    color:rgb( var(--clr-secondary) );
    transform: translateY(-4px);
}

.pop-up-background {
    position: absolute;
    left: 0; top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;

    background-color: rgb( var(--clr-black), .85 );
}

