.hero-container {
    width: 100vw;
    height: 80vh;
}
.hero-img { 
    position: absolute;
    top: 0; left: 0;
    z-index: -9;

    width: 100vw;
    height: 80vh;

    background-image: url("../img/screenshots/fotos/2022/eventos/Make it Rika/01.png");
    background-position: center;
    background-size: cover;
}

.hero-img::after {
    content: '';
    position: absolute;
    bottom: 0; left: 0;
    width: 100vw; height: 30vh;
    z-index: -9;

    background: rgb(14,14,16);
    background: linear-gradient(180deg, rgb( var(--clr-dark), 0 ) 0%, rgb( var(--clr-dark), .5 ) 50%, rgb( var(--clr-dark), 1 ) 100%);
}

.hero-description {
    position: absolute;
    top: 7rem;
    right: 5%;
    min-width: 15rem;
    padding-right: 1rem;
    opacity: .4;
    transition: .3s;
    z-index: 0;

    text-transform: uppercase;
    line-height: 5px;
    text-align: right;
    letter-spacing: 2px;
    font-weight: 500;
    border-right: solid 2px rgb( var(--clr-primary) );
    color: rgb( var(--clr-white) );

    background: rgb(14,14,16);
    background: linear-gradient(90deg, rgba(14,14,16,0) 0%, rgba(14,14,16,0.5) 50%, rgba(14,14,16,.85) 100%);
}

.hero-description:hover {
    opacity: 1;
}


.hero-description p:first-child {
    font-weight: 100;
}


.title {
    display: flex;
    position: absolute;
    bottom: 0; left: 0; right: 0;
    margin: 0 auto;
    padding: 4rem;
    max-width: 1980px;

    text-transform: uppercase;
    color: rgb( var(--clr-white) );
}

.title h1 {
    margin: 0;
    font-size: clamp(2rem, 8vw, 8rem);
}

.title h2 {
    margin: 0;
    font-size: clamp(1rem, 5vw, 4rem);
}

.title .box {
    display: flex;
    flex-direction: column;
    flex-basis: 50%;
}

.title .discord {
    align-items: center;
    justify-content: center;
}

.discord .button {
    position: relative;
    display: block;
    padding: 2rem 4rem;
    cursor: pointer;
    overflow: hidden;
    transition: .5s;

    letter-spacing: 2px;
    font-size: clamp(1rem, 4vw, 6rem);

    --clr-discord: rgba(88, 105, 234, 1);
    color: var(--clr-discord);
    outline: solid 1px var(--clr-discord);
    border-radius: 999rem;
}

.discord .button::before {
    content: '';
    position: absolute;
    top: 0; bottom: 0; right: 0; left: 0;
    width: 1rem; height: 1rem;
    margin: auto;
    transition: 1s;
    border-radius: 50%;
    z-index: -1;
    opacity: 0;

    background-color: rgb( var(--clr-primary) );
}

.discord .button:hover::before {
    transform: scale(50);
    opacity: 1;
}

.discord .button:hover {
    color:rgb( var(--clr-white) );
    outline: solid 1px rgb( var(--clr-primary) );
}


@media (max-width: 800px) {
    .title {
        flex-direction: column;
        text-align: center;
        gap: 2rem;
    }
    .title h1 {
        font-size: clamp(4rem, 14vw, 7rem);
    }
    .title h2 {
        font-size: clamp(2.5rem, 5vw, 4rem);
        padding-bottom: 2rem;
        border-bottom: solid 1px rgb( var(--clr-white), .1 );
    }
}

@media (max-width: 650px) {
}