.group-img { position: relative; max-width: 1280px; border-radius: 1rem; margin: 3rem auto; transform: translateY(0); transition: .4s; }
.group-img img { width: 100%; border-radius: 1rem; outline: solid 1px rgb( var(--clr-secondary), 0 ); overflow: hidden; transition: .4s; }

.duty-info {
    opacity: 0;
    display: flex;
    align-items: center;
    position: absolute;
    transition: .4s;
}

.duty-info .name {
    padding: .5rem 2rem;
    border-radius: 999rem;
    margin: 0;

    font-weight: 200;
    letter-spacing: 3px;
    font-size: 2rem;

    background-color: rgb(var(--clr-black), .8);
    backdrop-filter: blur(5px);
}

.duty-info .duty-level {
    position: relative;
    padding: .5rem 1rem;
    margin: 0 0 0 1rem;
    border-radius: 999rem;

    font-size: .7rem;
    font-weight: 400;
    letter-spacing: 2px;
    text-align: right;
    text-transform: uppercase;

    color: rgb(var(--clr-white), .5);
    background-color: rgb(var(--clr-black), .8);
    backdrop-filter: blur(5px);
}

.duty-info .duty-level.savage {
    color: rgb( var(--clr-primary) );
    font-weight: 600;
    outline: solid 1px rgb( var(--clr-primary) );
}

.duty-info.position-1 { bottom: 1rem; left: 1rem; }

.group-img .date { opacity: 0; position: absolute; padding: 1rem; border-radius: 999rem; letter-spacing: 2px; background:rgb( var(--clr-black), .8 ); backdrop-filter: blur(5px); transition: .4s;}
.group-img .date.position-1 { bottom: 1rem; right: 1rem; }

.party-info { opacity: 0; position: absolute; width: 13rem; transition: .4s; }
.party-info a { display: block; color: rgb(var(--clr-white)); font-weight: 400; }
.party-info.position-1 { top: 1rem; left: 2rem; }

.group-img:hover .party-info,
.group-img:hover .duty-info,
.group-img:hover .date {
    opacity: 1;
}

.group-img:hover img {
    outline: solid 1px rgb( var(--clr-secondary) );
}

.group-img:hover {
    transform: translateY(-15px);
    box-shadow: 0 10px 10px rgb( var(--clr-black), .6 );
}


.member {
    display: flex;
    align-items: center;
    justify-content: start;
    width: 100%;
    margin: .3rem 0;

    border-radius: 999rem;
    background-color: rgb( var(--clr-black), .2 );
    backdrop-filter: blur(5px);

    transition: .4s;
}


.member:hover {
    color: rgb( var(--clr-secondary) );
    background-color: rgb( var(--clr-black), .8 );
}

.member:hover .job {
    outline: solid 1px rgb( var(--clr-secondary) );
}
.job.small {
    width: 2rem;
    height: 2rem;
    margin-right: .5rem;
    border-radius: .5rem;
    
    background-size: cover;
    background-position: center;
    outline: solid 1px rgb( var(--clr-secondary), 0 );

    transition: .2s;
}


/* ------------------------------------------- */
/* job icons                                   */
/* ------------------------------------------- */
.job.war { background-image: url("../img/system/jobs/war.jpg"); }
.job.pld { background-image: url("../img/system/jobs/pld.jpg"); }
.job.drk { background-image: url("../img/system/jobs/drk.jpg"); }
.job.gnb { background-image: url("../img/system/jobs/gnb.jpg"); }
.job.whm { background-image: url("../img/system/jobs/whm.jpg"); }
.job.sch { background-image: url("../img/system/jobs/sch.jpg"); }
.job.ast { background-image: url("../img/system/jobs/ast.jpg"); }
.job.sge { background-image: url("../img/system/jobs/sge.jpg"); }
.job.drg { background-image: url("../img/system/jobs/drg.jpg"); }
.job.mnk { background-image: url("../img/system/jobs/mnk.jpg"); }
.job.nin { background-image: url("../img/system/jobs/nin.jpg"); }
.job.sam { background-image: url("../img/system/jobs/sam.jpg"); }
.job.rpr { background-image: url("../img/system/jobs/rpr.jpg"); }
.job.brd { background-image: url("../img/system/jobs/brd.jpg"); }
.job.mch { background-image: url("../img/system/jobs/mch.jpg"); }
.job.dnc { background-image: url("../img/system/jobs/dnc.jpg"); }
.job.blm { background-image: url("../img/system/jobs/blm.jpg"); }
.job.smn { background-image: url("../img/system/jobs/smn.jpg"); }
.job.rdm { background-image: url("../img/system/jobs/rdm.jpg"); }
.job.blu { background-image: url("../img/system/jobs/blu.jpg"); }


@media (max-width: 850px) {
    .group-img {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 85vw;
    }
    .group-img .party-info,
    .group-img .duty-info,
    .group-img .date {
    opacity: 1;
    position: relative;
    }
    .group-img .duty-info {
        font-size: clamp(1rem, 3vw, 2rem);
    }
    .duty-info.position-1 { bottom: 1rem; left: 0rem; }
    .group-img .date.position-1 { bottom: .5rem; right: 0rem; }
    .party-info.position-1 { top: 0rem; left: 0rem; }

    .group-img:hover {
        transform: translateY(0);
        box-shadow: 0 0 0 rgb( var(--clr-black), .6 );
    }
    .party-info {
        width: 90vw;
        padding: 1rem;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        gap: .5rem 1rem;
    }
    .member {
        min-width: 200px;
    }

}



/* ------------------------------------------- */
/* biscoito covers                             */
/* ------------------------------------------- */
.biscoito-container {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    margin-bottom: 5rem;
}

.biscoito-cover {
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    overflow: hidden;

    border-radius: 1rem;
    width: 240px;
    height: 80vh;
    text-align: center;
    text-transform: uppercase;

    outline: var(--outline);
    background-position: center;
    background-size: cover;

    transition: .5s;
}

.biscoito-cover a { color:rgb(var(--clr-white) ); font-weight: 400; }

.biscoito-cover:hover {
    width: 500px;
    outline: var(--outline-hvr);
}

.biscoito-cover::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;

    background: rgb( var(--clr-black), .6 );
    transition: .5s;
}

.biscoito-cover:hover::after {
    background: rgb( var(--clr-black), .2 );
}

.biscoito-cover h5, a {
    font-weight: 400;
    z-index: 1;
}

.biscoito-cover.arr { background-image: url('../img/system/biscoito/bg-arr.jpg'); }
.biscoito-cover.hw { background-image: url('../img/system/biscoito/bg-hw.jpg'); }
.biscoito-cover.sb { background-image: url('../img/system/biscoito/bg-sb.jpg'); }
.biscoito-cover.shb { background-image: url('../img/system/biscoito/bg-shb.jpg'); }
.biscoito-cover.ew { background-image: url('../img/system/biscoito/bg-ew.jpg'); }

.biscoito-cover h5 {
    font-size: 1rem;
    letter-spacing: 1px;
    font-weight: 200;
    transition: .5s;
}

.biscoito-cover:hover h5 {
    font-size: 2rem;
    letter-spacing: .4rem;
}

.biscoito-cover .button {
    padding: 1rem 2rem;
    margin-bottom: 1rem;

    width: 60%;
    border-radius: .5rem;
    letter-spacing: 2px;

    outline: solid 1px rgb(var(--clr-white), .5);
    background-color: rgb( var(--clr-black), .3 );
    backdrop-filter: blur(0);

    transition: .3s;
}

.biscoito-cover .button:hover {
    letter-spacing: 6px;

    color: rgb( var(--clr-secondary) );
    outline: solid 1px rgb(var(--clr-secondary));
    background-color: rgb( var(--clr-black), .6 );
    backdrop-filter: blur(3px);
}

.biscoito-cover .button:last-child {
    margin-bottom: 2rem;
}

.biscoito-cover .button.off {
    letter-spacing: 2px;
    transform: translateY(0);
    color: rgb(var(--clr-white), .5);
    outline: solid 1px rgb(var(--clr-white), .5);
    background-color: rgb( var(--clr-black), .3 );
    backdrop-filter: blur(0);
}