.group-img { position: relative; margin: 0 auto; transform: translateY(0); transition: .4s; }
.group-img img { width: 100%; border-radius: 1rem; outline: solid 1px rgb( var(--clr-secondary), 0 ); transition: .4s; }

.duty-info { opacity: 0; display: flex; align-items: center; position:absolute; padding: .5rem 2rem; border-radius: 999rem; background-color: rgb( var(--clr-black), .8 ); backdrop-filter: blur(5px); transition: .4s; }
.duty-info .name { padding: 0 1rem 0 0; margin: 0; font-size: 2rem; font-weight: 200; letter-spacing: 3px; }
.duty-info .level { padding: 0; margin: 0; font-size: 2rem; font-weight: 600; letter-spacing: 2px; text-align: right;}
.duty-info.position-1 { bottom: 1rem; left: 1rem; }

.group-img .date { opacity: 0; position: absolute; padding: 1rem; border-radius: 999rem; letter-spacing: 2px; background:rgb( var(--clr-black), .8 ); backdrop-filter: blur(5px); transition: .4s;}
.group-img .date.position-1 { bottom: 1rem; right: 1rem; }

.party-info { opacity: 0; position: absolute; width: 13rem; transition: .4s; }
.party-info a { display: block; color: rgb(var(--clr-white)); font-weight: 400; }
.party-info.position-1 { top: 1rem; left: 2rem; }

.group-img:hover .party-info,
.group-img:hover .duty-info,
.group-img:hover .date {
    opacity: 1;
}

.group-img:hover img {
    outline: solid 1px rgb( var(--clr-secondary) );
}

.group-img:hover {
    transform: translateY(-15px);
    box-shadow: 0 10px 10px rgb( var(--clr-black), .6 );
}


.member {
    display: flex;
    align-items: center;
    justify-content: start;
    width: 100%;
    margin: .3rem 0;

    border-radius: 999rem;
    background-color: rgb( var(--clr-black), .2 );
    backdrop-filter: blur(5px);

    transition: .4s;
}


.member:hover {
    color: rgb( var(--clr-secondary) );
    background-color: rgb( var(--clr-black), .8 );
}

.member:hover .job {
    outline: solid 1px rgb( var(--clr-secondary) );
}
.job.small {
    width: 2rem;
    height: 2rem;
    margin-right: .5rem;
    border-radius: .5rem;
    
    background-size: cover;
    background-position: center;
    outline: solid 1px rgb( var(--clr-secondary), 0 );

    transition: .2s;
}

.job.war { background-image: url("../img/system/jobs/war.jpg"); }
.job.pld { background-image: url("../img/system/jobs/pld.jpg"); }
.job.drk { background-image: url("../img/system/jobs/drk.jpg"); }
.job.gnb { background-image: url("../img/system/jobs/gnb.jpg"); }
.job.whm { background-image: url("../img/system/jobs/whm.jpg"); }
.job.sch { background-image: url("../img/system/jobs/sch.jpg"); }
.job.ast { background-image: url("../img/system/jobs/ast.jpg"); }
.job.sge { background-image: url("../img/system/jobs/sge.jpg"); }
.job.drg { background-image: url("../img/system/jobs/drg.jpg"); }
.job.mnk { background-image: url("../img/system/jobs/mnk.jpg"); }
.job.nin { background-image: url("../img/system/jobs/nin.jpg"); }
.job.sam { background-image: url("../img/system/jobs/sam.jpg"); }
.job.rpr { background-image: url("../img/system/jobs/rpr.jpg"); }
.job.brd { background-image: url("../img/system/jobs/brd.jpg"); }
.job.mch { background-image: url("../img/system/jobs/mch.jpg"); }
.job.dnc { background-image: url("../img/system/jobs/dnc.jpg"); }
.job.blm { background-image: url("../img/system/jobs/blm.jpg"); }
.job.smn { background-image: url("../img/system/jobs/smn.jpg"); }
.job.rdm { background-image: url("../img/system/jobs/rdm.jpg"); }
.job.blu { background-image: url("../img/system/jobs/blu.jpg"); }