nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    box-sizing: border-box;

    padding: 2rem;

    background: rgb(14,14,16);
    background: linear-gradient(0deg, rgba(14,14,16,0) 0%, rgba(14,14,16,0.4990371148459384) 50%, rgba(14,14,16,1) 100%);
}

.menu-icon {
    display: none;
}

.nav-links {
    text-transform: uppercase;
    letter-spacing: 3px;
}

.nav-links a {
    padding: 1rem 1rem;
    font-weight: 500;
    color: rgb( var(--clr-white) );

    text-shadow: 0 2px 3px rgb( var(--clr-black) );
    outline: solid 1px rgb( var(--clr-white), 0 );

    transition: .3s;
}