nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    position: sticky;
    top: 0;
    width: 100vw;
    box-sizing: border-box;
    z-index: 99;
    
    padding: 2rem;

    background: rgb(14,14,16);
    background: linear-gradient(0deg, rgba(14,14,16,0) 0%, rgba(14,14,16,0.4990371148459384) 50%, rgba(14,14,16,1) 100%);
}

.menu-icon {
    display: none;
    visibility: hidden;
    cursor: pointer;
}

.nav-links {
    text-transform: uppercase;
    letter-spacing: 3px;
}

.nav-links a {
    padding: 1rem 1rem;
    font-weight: 500;
    color: rgb( var(--clr-white) );

    text-shadow: 0 2px 3px rgb( var(--clr-black) );
    outline: solid 1px rgb( var(--clr-white), 0 );

    transition: .5s;
}

.nav-links a:hover {
    color: rgb( var(--clr-secondary) );

}

.nav-links a::after {
    content: '';
    position: absolute;
    top: 0; left: 0; right: 0;
    width: 0%; height: 100%;
    margin: 0 auto;
    border-bottom: solid 1px rgb( var(--clr-white) );
    transition: .5s;
}

.nav-links a:hover::after {
    width: 100%;
    border-bottom: solid 1px rgb( var(--clr-secondary) );
    
}

@media (max-width: 650px) {
    .menu-icon {
        display: flex;
        visibility: visible;
        opacity: 1;
        padding: 1rem;
        border-radius: 1rem;

        font-size: 2rem;

        background-color: rgb( var(--clr-black), .9 );
    }
    .nav-links {
        position: absolute;
        top: 2.5rem; bottom: 0; right: 6rem;
        width: 50vw; Height: 50vh;
        border-radius: 1rem;
        overflow: hidden;
        visibility: hidden;
        opacity: 0;
        transition: visibility .3s, opacity 0.3s linear;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        font-size: 2rem;
        background-color: rgb( var(--clr-black), .95 ) ;
    }
    .nav-links.active {
        visibility: visible;
        opacity: 1;
    }
    .nav-links a {
        padding: 2rem 5rem;
        
        border-bottom: solid 1px rgb( var(--clr-light), .2 );
    }
    .main-logo {
        background-color: rgb( var(--clr-black), .9 );
        padding: 1rem;
        border-radius: 1rem;
    }
}