.staff {
    width: 170px;
    height: 300px;
    border: none;
    border-radius: 1rem;
    transition: .3s;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;

    color: rgb(var(--clr-light));

    text-transform: uppercase;
    font-family: var(--ff-barlow);
    outline: solid 1px rgb(var(--clr-light-gray));
    background: var(--bg-gradient);
    box-shadow: 0 .5rem .5rem rgba(0, 0, 0, .2);
}

.staff > .role {
    display: flex;
    align-items: center;
    justify-content: center;

    letter-spacing: 2px;
}

.staff > .role > img{
    width: 20px;
    height: 20px;
    margin-right: .5rem;
}

.staff > .img {
    width: 7rem;
    height: 7rem;
    position: relative;
    border-radius: 1rem;
    overflow: hidden;
    transition: inherit;

    display: flex;
    align-items: center;
    justify-content: center;

    outline: solid 1px rgb(var(--clr-light-gray));
}

.staff > .img > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
 }

.staff > .name {
    font-size: 1.1rem;
    letter-spacing: 1px;
}

.staff > .name > p:first-child {
    padding-bottom: .5rem;
}

.staff:hover {
    cursor: pointer;

    color: rgb(var(--clr-secondary));
    outline: solid 1px rgb(var(--clr-secondary));
    background: var(--bg-gradient-dark);
    box-shadow: 0 .5rem .5rem rgba(0, 0, 0, .5);
}

.staff:hover > .img {
    outline: solid 1px rgb(var(--clr-secondary));
}

.staff > .img::after { 
    content:'';
    width: 2rem;
    height: 2rem;
    position: absolute;
    right: .5rem;
    bottom: .5rem;
    border-radius: 100%;
    opacity: 0;
    transition: .3s;

    background-image: url('../../public/img/communism.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: initial;
    background-color: rgb(var(--clr-primary), .7);
    outline: 1px solid rgb(var(--clr-secondary));
 }

.staff:hover > .img::after {
    opacity: 1;
}