.text {
    box-sizing: border-box;
    padding: 3rem;
}

.text > h3 {
    padding: 0 0 2rem;
    font-size: 3rem;
    font-family: var(--ff-barlow-condensed);
    letter-spacing: 2px;

    color: rgb(var(--clr-primary), .8);
    text-shadow: 0 .3rem .3rem rgb(0,0,0,.3);

}

.text > p {
    padding: .5rem 0;
    line-height: 1.6rem;
}