:root {
  --clr-dark: 14, 14, 16;
  --clr-light: 224, 224, 224;
  --clr-light-gray: 79, 79, 79;
  --clr-primary: 200, 27, 16;
  --clr-secondary: 251, 208, 22;

  --bg-gradient: linear-gradient(102.83deg, rgba(213, 213, 213, 0.2) -98.71%, rgba(0, 0, 0, 0) 103.17%), rgba(0, 0, 0, 0.45);
  --bg-gradient-dark: linear-gradient(102.83deg, rgba(213, 213, 213, 0.2) -98.71%, rgba(0, 0, 0, 0) 103.17%), rgba(0, 0, 0, 0.7);


  --ff-barlow: "Barlow", sans-serif;
  --ff-barlow-condensed: "Barlow Condensed", sans-serif;
  --ff-barlow-semi-condensed: "Barlow Semi Condensed", sans-serif;
  --ff-oswald: "Oswald", sans-serif;
  --ff-poppins: "Poppins", sans-serif;
  --ff-roboto: "Roboto", sans-serif;
  --ff-roboto-condensed: "Roboto Condensed", sans-serif;
}

/* ---------------------------------------------------------- */
/* Resets                                                     */
/* ---------------------------------------------------------- */

body,
html,
p,
h1,
h2,
h3,
h4,
h5,
h6,
img {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ---------------------------------------------------------- */
/* page config                                                */
/* ---------------------------------------------------------- */

body {
  background: rgb(var(--clr-dark));
  color: rgb(var(--clr-light));
  font-family: var(--ff-barlow);

  letter-spacing: 1px;
}

.page-container { /* whole page */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 10rem;
}

.background-glow { /* background effect */ 
  z-index: -10;
  top: -20rem;
  width: 100vw;
  height: 110vh;
  transform: scale(1.2);
  position: fixed;
  background: rgb(255, 255, 255);
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 0.08) 15%,
    rgba(14, 14, 16, 0) 50%,
    rgba(14, 14, 16, 0) 85%
  );
}

.background-glow::after { /* background effect */ 
  content: '';
  position: absolute;
  right: 0;
  bottom: -40rem;
  width: 800px;
  height: 1500px;
  opacity: .13;
  
  background: radial-gradient(50% 50% at 50% 50%, #C81B10 0%, rgba(14, 14, 16, 0) 100%);

}

.footer { /* page end */ 
  padding: 5rem 0 10rem;
  font-family: var(--ff-barlow-condensed);
  font-weight: 100;
  font-size: 2rem;
  color: rgb(var(--clr-light), .5 )
}

/* ---------------------------------------------------------- */
/* Flex classes                                               */
/* ---------------------------------------------------------- */
.flex { display: flex; }
.flex.col { flex-direction: column; }
.flex.a-start { align-items: flex-start; }
.flex.a-center { align-items: center; }
.flex.a-end { align-items: flex-end; }
.flex.j-start { justify-content: flex-start; }
.flex.j-center { justify-content: center; }
.flex.j-end { justify-content: flex-end; }
.flex.j-between { justify-content: space-between; }
.flex.j-around { justify-content: space-around; }
.flex.wrap { flex-wrap: wrap; }
.flex.gap-1 { gap: 1rem; }
.flex.gap-2 { gap: 2rem; }
